<div id="banner">
  <div class="container">
    <div class="col-md-6 title"><a href="/">{{ site.name }}</a></div>
    <div class="col-md-6 social">
        <a href="https://twitter.com/kunklejr"><img src="{{ site.url }}/img/twitter.png" alt="Jeff on Twitter"/></a>
        <a href="http://www.linkedin.com/in/kunklejr/"><img src="{{ site.url }}/img/linkedin.png" alt="Jeff on LinkedIn"/></a>
        <a href="http://kunkle.org/atom.xml"><img src="{{ site.url }}/img/feed.png" alt="Jeff's Atom Feed"/></a>
    </div>
  </div>
</div>
